@font-face {
    font-family: 'FuturaT';
    /* Use a relative path to the local font file in `url()`. */
    src: url('./Futura-Medium') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }