---
import { Image } from 'astro:assets'
import JB2Abanner from '/src/assets/img/wikilogo-dark-512x128.webp'
const { src = {JB2Abanner}, alt="Image Placeholder", style="width: 50%;" } = Astro.locals.starlightRoute
---

<!-- Doesn't import image-zoom capabilities but keeping as a starting point for custom components -->
<p align="center">
    <Image src={src} alt={alt} style={style}/>
</p>